.full_body {
    padding: 0;
}

.mainheader {
    border: 1px solid black;
    margin-left: 0;
    background-color: rgb(51, 49, 49);
    border-bottom-color: gray;
}

h1.titl {
    color: white;
}

.heder_icons {
    margin-top: 20px;
    color: white;
}

a.serch {
    position: relative;
    left: -1em;
}

a:hover {
    text-decoration: none;
    color: rgba(57, 57, 237, 0.9);
    transition:1s;
}


/*---------------------nav tab--------------------------------*/

.header2 {
    background-color: rgb(51, 49, 49);
    margin-left: 0;
}

a.acount {
    position: relative;
    top: -.7em;
    text-decoration: none;
    color: white;
}


/*-------------------------women-------------------------*/

p.women {
    color: black;
    font-size: 2em;
    letter-spacing: 3px;
    position: relative;
    left:4em;
    margin-top: 6px;
}


/*-------------------------element_box----------------------*/

img.img_element {
    width: 100%;
    height: 100%;
    transition: 1.5s;
    
}


img.img_element:hover{
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.scnd_img {
    margin-left: 8%;
    border: 1px solid #C5C0C0;
}

.third_img {
    margin-left: 8%;
}

p.data_name {
    color: black;
    font-size: 1.3em;
    position: relative;
    margin-top: 18px;
    left: -.5em;
}

.color {
    position: relative;
    top: 2em;
}

.price_range {
    position: relative;
    top: 3.5em;
}

div#slider-3 {
    margin-top: 1.4em;
}


/*----------------------footer-------------------------------*/

.footer_box {
    border: 1px solid gray;
    margin-left: 0;
    background: rgb(51, 49, 49);
    color: white;
    padding: 24px 0px;
}

.footer_box1 {
    border: 1px solid gray;
    margin-left: 0;
    background: rgb(51, 49, 49);
    color: white;
    padding: 14px 0px;
}

.social_icon {
    margin-top: 1em;
}

i.icn {
    margin-left: 12px;
}

input.form-control {
    outline: none;
    background-color: #565353;
    border-color: transparent;
}

a {
    color: white;
}

span.input-group-addon {
    background: #006eff;
    border-color: #006eff;
}

i.fa-chevron-right {
    color: white;
}

h4.ftr_heading {}

.filtr_box {
    /*border:1px solid black;*/
    height: 30em;
    /*not sure but guess this is the filter box code */
    border: 1px solid none;
    height: 50.6em;
    background: rgb(51, 49, 49);
    color: white;
    padding-left: 28px;
}

.header2 li {
    display: inline;
    margin: 0 8px;
}

.header2 ul {
    margin: 10px 0;
    margin-bottom: 0;
    padding: 0;
}

.menu_details {
    position: relative;
    opacity: 0
}

.menu_active {
    z-index: 1;
    opacity: 1;
}

.menu_active .menu1 {
    top: .6em;
    display: block;
}

.menu1 {
    position: absolute;
    background-color: blue;
    height: 21em;
    width: 75.6em;
    display: none;
    top: -2em;
    z-index: 9999;
}

.filtr_box_dummy {
    border: 1px solid none;
    height: 4em;
    background: rgb(51, 49, 49);
}
.data_clas{
    position: relative;
    z-index: 0;
}


/*-----------------------chechbox--------------------------*/

.squaredThree {
    /*width: 20px;*/
    position: relative;
    margin: 15px auto;
}

.squaredThree label {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
    background: white;
    border-radius: 4px;
    /* box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4); */
}

.squaredThree label:after {
    content: '';
    width: 10px;
    height: 6px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredThree label:hover::after {
    opacity: 0.3;
}

.squaredThree input[type=checkbox] {
    visibility: hidden;
}

.squaredThree input[type=checkbox]:checked + label:after {
    opacity: 1;
}

span.nam {
    position: relative;
    left: 2em;
}

span.color_box {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 2em;
    margin-right: 5px;
    vertical-align: -1px;
    background-color: red;
}

span.nam_colr {
    position: relative;
    left: 3.3em;
    top: -1.3em;
}

img.img_menu {
    /*width: 54%;*/
    height: 13em;
    position: relative;
    top: 1em;
}

p.data_nam1 {
    position: relative;
    margin-left: -1.2em;
    margin-top: 1em;
}

.img_top {
    margin-top: 2em;
}

.sale_box {
    border: 1px solid blue;
    height: 2em;
    width: 5em;
    /* height: 0em; */
    position: relative;
    left: -1em;
    background: blue;
}

img.notsale {
    margin-top: 2em;
    background: white;
}

span.sale_cont {
    color: white;
    position: relative;
    left: 13px;
    top: 3px;
}

.view_butn {
  /*display: none;*/
  visibility: hidden;
    border: 1px solid blue;
    width: 5.4em;
    height: 2.3em;
    position: absolute;
    left: 5.4em;
    top: 10em;
    background: blue;
    color: white;
    opacity: 0;
    /*transition: box-shadow .6s ease;*/
}


span.view_cont {
    position: relative;
    left: 1.3em;
    top: 6px;
  }
.hdr_img:hover .view_butn{
  visibility: visible;
  opacity: 1;
  transition: 2s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.scnd_img:hover .view_butn{
  visibility: visible;
  opacity: 1;
  transition: 2s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.overlay {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:2;
    opacity:0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.scnd_img:hover > .overlay {
    opacity:1;
    width:260px;
    height:310px height:auto;
    padding:5px;
    display:block;
    background:rgba(255, 255, 255, 0.4)
}
.fixed{
  position: fixed;
  top:0;
}
.footer_filter{
    position: relative;
    bottom: 100px;

}


.fixed1{
  position: fixed;
  bottom:0;
}

.ui-slider-range.ui-widget-header.ui-corner-all{
    background: rgba(57, 57, 237, 0.9);
}

a.ui-slider-handle.ui-state-default.ui-corner-all {
    outline: none;
}



/*-------------------------------------------------------------*/

a.view_button{

    color:white;
}

a.social_icon{
    color: #B7B7B7;
}

a.social_icon:hover{
    color: white;
}

input[type="txt"]{
    color:white;
    font-style: tregular;
}


a:focus{
    color: blue;
    text-decoration: none;
}

.overlay1 {
    position:absolute;
    width:100%;
    height:102.3%;
    top:0;
    left:0;
    z-index:2;
    opacity:0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    left: -.6em;
}

.hdr_img:hover > .overlay1 {
    opacity:1;
    width:240px;
    height:21em;
    padding:5px;
    display:block;
    background:rgba(255, 255, 255, 0.4);
    left:-2em;
}

.view_butn1{
        left: 4.8em;
    top: 8em;
}

p.price1{
        position: relative;
    left: -10px;
}

p.women_tab{
        letter-spacing: 1px;
    color: #3E3C3C;
    /*font-weight: bold;*/
    font-size: 1.5em;
}

a.women_tab_cont{
        font-size: 1.2em;
    color: #524D4D;
}

a.women_tab_cont:hover{
    color:blue;
}

i.fa.fa-chevron-down {
    margin-left: 7px;
}

ul.main_menu {
    position: relative;
    left: 5em;
}

.overlay1.boot_img:hover{
           left: -10px;
}

p.text-center.data_name.tbold.img_content{
        margin-top: 1.7em;
}
.img_last{
        margin-left: -23%;
             position: relative; 
     left: -1.3em; 

}
.img_last_one{
     position: relative; 
     left: -1.3em; 
}

.cont_menu{
    margin-left: -3em;
}
.cont_menu1{
    margin-left: -5.5em;
}

/*---------------------------modal----------------------------------*/

.modal-footer{
    border-color: transparent;
}

.modal-header{
     /*background: #1a1919;*/
     background: linear-gradient( black, #1a1919);
    color: white;
    text-align: center;
 }

 .modal .close{
    color: white;
    font-size: 2em;
    outline: none;
 }

 p.price{
    font-size: 1.4em;

 }

 button.check{
    background-color: #7d7dbd;
    color: #0c0a0a;
    margin-top: 7px;
    outline: none;

 }

 input.check_input{
    outline: none;
    border-color: transparent;
    text-indent: 8px;
        border: 1px solid #b8b0b0;
 }

 p.expctd_dlvr{
    margin-top: 1.5em;
 }

 input[type="text"]{
    font-family: tregular
 }

 .rit_sid_data{
        position: relative;
    top: 3em;
    left: 1.5em;
 }